.background{
	background-color: #23272a;
}
.menu-nav{
	color: white;
}
.btn{
	list-style-type: none;
}
nav.menu-nav ul li.btn{
	display: inline-block;
	color: #0000ff;
}
nav.menu-nav ul{
	color: white;
}
nav.menu-nav ul li a{
	color: white;
	text-decoration: none;
	background-color: #0000ff;
	border-radius: 150px;
	padding: 15px;
}
nav.menu-nav ul li a:hover{
	color: #0000ff;
	text-decoration: none;
	background-color: white;
	border-radius: 15px;
	padding: 15px;
	transition: 300ms;
}
.text-1{
	color: white;
	text-decoration: none;
	background-color: #0000ff;
	border-radius: 15px;
	padding: 15px;
	display: inline-block;
}
.text{
	color: white;
}
